<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <title>Document</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/select2.min.css">

    <link rel="stylesheet" href="css/spacing.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>


    <!--============================
        MENU START
    =============================-->
    <nav class="navbar navbar-expand-lg main_menu">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="Freeit" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="far fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blogs.html">Blog</a>
                    </li>
                </ul>
                <ul class="right_menu d-flex flex-wrap align-items-center">
                    <li>
                        <a href="#" class="wsus__manu_cart icon">
                            <span>
                                <img src="images/cart_icon_black.svg" alt="cart" class="img-fluid">
                                <b>2</b>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="common_btn">Let’s Talk</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--============================
        MENU END
    =============================-->


    <!--============================
        CART START
    =============================-->
    <section class="wsus__cart mt_170 pb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 wow fadeInUp">
                    <div class="wsus__cart_list">
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="pro_img">Item</th>

                                        <th class="pro_name">Name</th>

                                        <th class="pro_select">Quantity</th>

                                        <th class="pro_tk">Price</th>

                                        <th class="pro_icon">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pro_img">
                                            <img src="images/product_cart_1.jpg" alt="product" class="img-fluid w-100">
                                        </td>

                                        <td class="pro_name">
                                            <a href="#">Black Sneakers</a>
                                        </td>

                                        <td class="pro_select">
                                            <div class="quentity_btn">
                                                <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                                <input type="text" placeholder="1">
                                                <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                            </div>
                                        </td>

                                        <td class="pro_tk">
                                            <h6>$120.00</h6>
                                        </td>

                                        <td class="pro_icon">
                                            <a href="#"><i class="fal fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pro_img">
                                            <img src="images/product_cart_2.jpg" alt="product" class="img-fluid w-100">
                                        </td>

                                        <td class="pro_name">
                                            <a href="#">Black Sneakers</a>
                                        </td>

                                        <td class="pro_select">
                                            <div class="quentity_btn">
                                                <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                                <input type="text" placeholder="2">
                                                <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                            </div>
                                        </td>

                                        <td class="pro_tk">
                                            <h6>$99.000</h6>
                                        </td>

                                        <td class="pro_icon">
                                            <a href="#"><i class="fal fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pro_img">
                                            <img src="images/product_cart_3.jpg" alt="product" class="img-fluid w-100">
                                        </td>

                                        <td class="pro_name">
                                            <a href="#">Black Sneakers</a>
                                        </td>

                                        <td class="pro_select">
                                            <div class="quentity_btn">
                                                <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                                <input type="text" placeholder="3">
                                                <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                            </div>
                                        </td>

                                        <td class="pro_tk">
                                            <h6>$120.00</h6>
                                        </td>

                                        <td class="pro_icon">
                                            <a href="#"><i class="fal fa-times"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="wsus__cart_list_bottom">
                        <div class="row justify-content-between">
                            <div class="col-md-6 col-xl-5 ms-auto">
                                <div class="wsus__cart_list_pricing">
                                    <h6>Total <span>$ 360.00</span></h6>
                                    <p>Tax<span>12%</span></p>
                                    <p>Discount<span>$ 60.00</span></p>
                                    <h5>Sub total<span>$ 300.00</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <ul class="wsus__cart_list_bottom_btn">
                        <li><a href="products.html" class="common_btn cont_shop">Continue To Shipping</a>
                        </li>
                        <li><a href="checkout.html" class="common_btn common_btn_2">Checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--============================
        CART END
    =============================-->


    <!--============================
        FOOTER START
    =============================-->
    <footer class="pt_100 pb_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_text">
                        <a class="footer_logo" href="index.html">
                            <img src="images/logo.png" alt="Freeit" class="img-fluid">
                        </a>
                        <ul class="d-flex flex-wrap">
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        </ul>
                        <p>Copyright © 2025 All Rights Reserved by Freeit</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--============================
        FOOTER END
    =============================-->


    <!--jquery library js-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!--bootstrap js-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--font-awesome js-->
    <script src="js/Font-Awesome.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/select2.min.js"></script>

    <!--main/custom js-->
    <script src="js/main.js"></script>

</body>

</html>