<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <title>Document</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <header>
        <div class="header_left d-flex flex-wrap align-items-center">
            <div class="header_icon"><i class="fal fa-bars"></i></div>
            <a href="#"><img src="images/logo.jpg" alt="logo" class="img-fluid"></a>
        </div>
        <ul class="header_right d-flex flex-wrap align-items-center">
            <li class="setting_area">
                <a class="setting"><i class="fal fa-cog"></i></a>
                <ul class="drop_menu drop_menu_setting">
                    <li><a href="#">settings</a></li>
                    <li><a href="#">enable dark theme</a></li>
                    <li><a href="#">send feedback</a></li>
                    <li><a href="#">help</a></li>
                    <li><a href="#">app downloads</a></li>
                </ul>
            </li>
            <li class="user_area">
                <div class="user">
                    <img src="images/user_icon.png" alt="user" class="img-fluid">
                </div>
                <ul class="drop_menu drop_menu_user">
                    <li><a href="#">settings</a></li>
                    <li><a href="#">enable dark theme</a></li>
                    <li><a href="#">send feedback</a></li>
                    <li><a href="#">help</a></li>
                    <li><a href="#">app downloads</a></li>
                </ul>
            </li>
        </ul>
    </header>

    <div class="content_area d-flex flex-wrap">
        <aside class="sidebar">
            <ul>
                <li><a class="active" href="#"><i class="far fa-lightbulb"></i> <span>Notes</span></a></li>
                <li><a href="#"><i class="far fa-bell"></i> <span>reminder</span></a></li>
                <li><a href="#"><i class="far fa-pen"></i> <span>edit label</span></a></li>
                <li><a href="#"><i class="far fa-box-alt"></i> <span>achive</span></a></li>
                <li><a href="#"><i class="far fa-trash-alt"></i> <span>bin</span></a></li>
            </ul>
        </aside>
        <div class="main_content">
            <div class="search_area">
                <input type="text" placeholder="Search...">
                <i class="far fa-search"></i>
            </div>

            <div class="create_note">
                <i class="far fa-plus"></i>
            </div>

            <div class="custom_modal_area">
                <div class="custom_modal_content">
                    <div class="pin_icon">
                        <img src="images/pin_icons.png" alt="pin" class="img-fluid">
                    </div>
                    <input type="text" placeholder="Title">
                    <textarea rows="4" placeholder="Note" id="editorjs"></textarea>
                    <div class="ions_area">
                        <ul>
                            <li>
                                <a class="modal_drop_theme"><i class="far fa-palette"></i></a>
                                <div class="theme_area">
                                    <ul class="theme_color">
                                        <li><a class="white active" href="#"><i class="far fa-tint-slash"></i></a></li>
                                        <li><a class="red" href="#"></a></li>
                                        <li><a class="blue" href="#"></a></li>
                                        <li><a class="yellow" href="#"></a></li>
                                        <li><a class="green" href="#"></a></li>
                                        <li><a class="purple" href="#"></a></li>
                                        <li><a class="orange" href="#"></a></li>
                                        <li><a class="red" href="#"></a></li>
                                        <li><a class="blue" href="#"></a></li>
                                        <li><a class="yellow" href="#"></a></li>
                                        <li><a class="green" href="#"></a></li>
                                        <li><a class="purple" href="#"></a></li>
                                    </ul>
                                    <ul class="theme_img">
                                        <li><a class="img_1 close active" href="#"></a></li>
                                        <li><a class="img_2" href="#"></a></li>
                                        <li><a class="img_3" href="#"></a></li>
                                        <li><a class="img_4" href="#"></a></li>
                                        <li><a class="img_5" href="#"></a></li>
                                        <li><a class="img_6" href="#"></a></li>
                                        <li><a class="img_4" href="#"></a></li>
                                        <li><a class="img_5" href="#"></a></li>
                                        <li><a class="img_6" href="#"></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="far fa-box-alt"></i></a>
                            </li>
                            <li>
                                <a class="modal_drop_list"><i class="far fa-ellipsis-v"></i></a>
                                <ul class="drop_list">
                                    <li><a href="#">delete note</a></li>
                                    <li><a href="#">add label</a></li>
                                    <li><a href="#">add drawing</a></li>
                                    <li><a href="#">make a copy</a></li>
                                    <li><a href="#">vision history</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class="cancel_modal" href="#">cancel</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-3 col-md-6 col-xl-4">
                    <div class="single_note active">
                        <a class="single_note_check" href="#"><i class="far fa-check"></i></a>
                        <div class="single_note_content">
                            <h2>This is heading</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Adipisci eos.</p>
                        </div>

                        <div class="ions_area">
                            <ul>
                                <li>
                                    <a class="modal_drop_theme"><i class="far fa-palette"></i></a>
                                    <div class="theme_area">
                                        <ul class="theme_color">
                                            <li><a class="white active" href="#"><i class="far fa-tint-slash"></i></a>
                                            </li>
                                            <li><a class="red" href="#"></a></li>
                                            <li><a class="blue" href="#"></a></li>
                                            <li><a class="yellow" href="#"></a></li>
                                            <li><a class="green" href="#"></a></li>
                                            <li><a class="purple" href="#"></a></li>
                                            <li><a class="orange" href="#"></a></li>
                                            <li><a class="red" href="#"></a></li>
                                            <li><a class="blue" href="#"></a></li>
                                            <li><a class="yellow" href="#"></a></li>
                                            <li><a class="green" href="#"></a></li>
                                            <li><a class="purple" href="#"></a></li>
                                        </ul>
                                        <ul class="theme_img">
                                            <li><a class="img_1 close active" href="#"></a></li>
                                            <li><a class="img_2" href="#"></a></li>
                                            <li><a class="img_3" href="#"></a></li>
                                            <li><a class="img_4" href="#"></a></li>
                                            <li><a class="img_5" href="#"></a></li>
                                            <li><a class="img_6" href="#"></a></li>
                                            <li><a class="img_4" href="#"></a></li>
                                            <li><a class="img_5" href="#"></a></li>
                                            <li><a class="img_6" href="#"></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-box-alt"></i></a>
                                </li>
                                <li>
                                    <a class="modal_drop_list"><i class="far fa-ellipsis-v"></i></a>
                                    <ul class="drop_list">
                                        <li><a href="#">delete note</a></li>
                                        <li><a href="#">add label</a></li>
                                        <li><a href="#">add drawing</a></li>
                                        <li><a href="#">make a copy</a></li>
                                        <li><a href="#">vision history</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- <a class="cancel_modal" href="#">cancel</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6 col-xl-4">
                    <div class="single_note">
                        <a class="single_note_check" href="#"><i class="far fa-check"></i></a>
                        <div class="single_note_content">
                            <h2>This is heading</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Adipisci eos.</p>
                        </div>

                        <div class="ions_area">
                            <ul>
                                <li>
                                    <a class="modal_drop_theme"><i class="far fa-palette"></i></a>
                                    <div class="theme_area">
                                        <ul class="theme_color">
                                            <li><a class="white active" href="#"><i class="far fa-tint-slash"></i></a>
                                            </li>
                                            <li><a class="red" href="#"></a></li>
                                            <li><a class="blue" href="#"></a></li>
                                            <li><a class="yellow" href="#"></a></li>
                                            <li><a class="green" href="#"></a></li>
                                            <li><a class="purple" href="#"></a></li>
                                            <li><a class="orange" href="#"></a></li>
                                            <li><a class="red" href="#"></a></li>
                                            <li><a class="blue" href="#"></a></li>
                                            <li><a class="yellow" href="#"></a></li>
                                            <li><a class="green" href="#"></a></li>
                                            <li><a class="purple" href="#"></a></li>
                                        </ul>
                                        <ul class="theme_img">
                                            <li><a class="img_1 close active" href="#"></a></li>
                                            <li><a class="img_2" href="#"></a></li>
                                            <li><a class="img_3" href="#"></a></li>
                                            <li><a class="img_4" href="#"></a></li>
                                            <li><a class="img_5" href="#"></a></li>
                                            <li><a class="img_6" href="#"></a></li>
                                            <li><a class="img_4" href="#"></a></li>
                                            <li><a class="img_5" href="#"></a></li>
                                            <li><a class="img_6" href="#"></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-box-alt"></i></a>
                                </li>
                                <li>
                                    <a class="modal_drop_list"><i class="far fa-ellipsis-v"></i></a>
                                    <ul class="drop_list">
                                        <li><a href="#">delete note</a></li>
                                        <li><a href="#">add label</a></li>
                                        <li><a href="#">add drawing</a></li>
                                        <li><a href="#">make a copy</a></li>
                                        <li><a href="#">vision history</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- <a class="cancel_modal" href="#">cancel</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6 col-xl-4">
                    <div class="single_note">
                        <a class="single_note_check" href="#"><i class="far fa-check"></i></a>
                        <div class="single_note_content">
                            <h2>This is heading</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Adipisci eos.</p>
                        </div>

                        <div class="ions_area">
                            <ul>
                                <li>
                                    <a class="modal_drop_theme"><i class="far fa-palette"></i></a>
                                    <div class="theme_area">
                                        <ul class="theme_color">
                                            <li><a class="white active" href="#"><i class="far fa-tint-slash"></i></a>
                                            </li>
                                            <li><a class="red" href="#"></a></li>
                                            <li><a class="blue" href="#"></a></li>
                                            <li><a class="yellow" href="#"></a></li>
                                            <li><a class="green" href="#"></a></li>
                                            <li><a class="purple" href="#"></a></li>
                                            <li><a class="orange" href="#"></a></li>
                                            <li><a class="red" href="#"></a></li>
                                            <li><a class="blue" href="#"></a></li>
                                            <li><a class="yellow" href="#"></a></li>
                                            <li><a class="green" href="#"></a></li>
                                            <li><a class="purple" href="#"></a></li>
                                        </ul>
                                        <ul class="theme_img">
                                            <li><a class="img_1 close active" href="#"></a></li>
                                            <li><a class="img_2" href="#"></a></li>
                                            <li><a class="img_3" href="#"></a></li>
                                            <li><a class="img_4" href="#"></a></li>
                                            <li><a class="img_5" href="#"></a></li>
                                            <li><a class="img_6" href="#"></a></li>
                                            <li><a class="img_4" href="#"></a></li>
                                            <li><a class="img_5" href="#"></a></li>
                                            <li><a class="img_6" href="#"></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-box-alt"></i></a>
                                </li>
                                <li>
                                    <a class="modal_drop_list"><i class="far fa-ellipsis-v"></i></a>
                                    <ul class="drop_list">
                                        <li><a href="#">delete note</a></li>
                                        <li><a href="#">add label</a></li>
                                        <li><a href="#">add drawing</a></li>
                                        <li><a href="#">make a copy</a></li>
                                        <li><a href="#">vision history</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- <a class="cancel_modal" href="#">cancel</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--jquery library js-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!--bootstrap js-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--font-awesome js-->
    <script src="js/Font-Awesome.js"></script>

    <!--main/custom js-->
    <script src="js/main.js"></script>

</body>

</html>